dist/**
**/*.cmd
**/*.lock
**/*.lha
**/*.zip
**/.D*
**/*.lin
**/*.log
**/*.sys
tools/lib
**/.*.swp
**/*.obj
**/*.o
**/*.h86
**/*.sym
**/*.lst
**/*.map
**/*.prn
**/.vscode
private/**
**/*.img
src/*.cmd
**/.*.swp
**/.DS_Store
