dist/**
**/*.cmd
**/*.lock
**/*.lha
**/*.zip
**/.D*
**/*.lin
**/*.inp
**/*.log
**/*.sys
asm/*.lib
asm/*.mod
**/.*.swp
**/*.obj
**/*.o
**/*.loc
**/*.h86
**/*.sym
**/*.lst
**/*.abs
**/*.lnk
**/*.mp?
**/*.map
**/*.prn
**/.vscode
private/**
local/**
**/*.img
**/*.cmd
**/*.con
**/*.rsp
**/.*.swp
**/.DS_Store
